@model ConstructionNew.Models.Schedule

@{
    ViewBag.Title = "Delete";
}

<h2>Schedules</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        @*Adding Jobtitle and Number first to modify view*@
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.UserName)
        </dd>
        @*Removing title from this spot to modify view
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.StartDate)*@ @*This was the original code.  Made modification to StartDate display for uniformity.*@
            @{
                string parameterValueA = Model.StartDate.ToString("MM-dd-yyyy");
            }
            @Html.DisplayFor(Model => parameterValueA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.EndDate)*@ @*This was the original code.  Made modification to StartDate display for uniformity.*@

            @if (Model.EndDate.HasValue)
            {
                @Convert.ToDateTime(Model.EndDate).ToString("MM-dd-yyyy")
            }

        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
        </div>
    }
</div>
