@using ConstructionNew.Models;
@model dynamic
@{
    ViewBag.Title = "Create Weekly Schedule";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<h4 style="text-align:right">
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</h4>

<h1>Master Schedule Edit</h1>
<div id="weekDDL">
    @Html.DropDownList("weeks", new SelectList(ViewBag.Weeks).ToString())
</div>

    <div class="wrapper">
        <!-- Sidebar -->
        <div class="row">
            <div id="sidebar2">
                <div class="sidebar-header">
                    <h3>Employees</h3>
                </div>
                <ul id="employeesMaster" class="sortable_list connectedSortable">
                    @foreach (ApplicationUser user in Model.Employees)
                    {
                        <li>@Html.DisplayFor(modelItem => user.UserName)</li>
                    }
                </ul>
            </div>
            <div class="container" id="jobBox">
                <div class="jobBoxheader"><h3>Jobs</h3></div>
                @foreach (Job job in Model.Jobs)
                {
                    <div id="sidebar">
                        <div class="sidebar-header">
                            <h3>@Html.DisplayFor(modelItem => job.JobTitle)</h3>
                            <h5>Job #: @Html.DisplayFor(modelItem => job.JobNumber)</h5>
                        </div>
                        <ul class="sortable_list connectedSortable"><li id="no">Drag User Here</li></ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <input type="submit" value="Save Changes" onclick="return confirm('Save Changes?')" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $(".sortable_list").sortable({ connectWith: ".connectedSortable", cancel: "#no" });
    });
</script>


