@using System.Web.UI.WebControls
@using ConstructionNew.Models
@using ConstructionNew.Enums
@using ConstructionNew.Extensions
@using Microsoft.AspNet.Identity
@using System.Collections.Generic

@model List<Job>
@{ List<SelectListItem> userList = (List<SelectListItem>)ViewData["UserList"];}

@{
    ViewBag.Title = "_EmployeeSchedulePartial";
}

<div class="container">
    @foreach (Job job in Model)
    {
        foreach (var person in job.Schedules)
        {
            if (person.Person.UserName == User.Identity.GetUserName())
            {
                <div class="panel panel-info simple-border">
                    <div class="panel-heading no-border">
                        <table style="width:100%">
                            <tr>
                                <td style="width:40px">
                                    <span class="label label-success">@job.JobNumber</span>
                                </td>
                                <td>
                                    <span style="font-weight:bold">@job.JobTitle</span>

                                    <br />@job.StreetAddress @job.City, @job.State.GetDescription()

                                </td>
                                <td>
                                    <span>Start Time: @job.ShiftTimes</span>
                                </td>
                                <td>
                                    @*If there is a note, Display it*@
                                    @if (!String.IsNullOrEmpty(job.Note))
                                    {
                                        <span>Note: @job.Note</span>
                                    }
                                </td>
                                <td style="text-align:right">
                                    <span>
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                        @*Action Link to Job Details*@
                                        @Html.ActionLink("Details", "Details", "Jobs", new { id = job.JobId }, null)
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table style="width:100%">
                            <tr>
                                <th>Name</th>
                                <th>Work Category</th>
                                <th></th>
                                <th><i class="glyphicon glyphicon-calendar"> </i> Start Date</th>
                                <th><i class="glyphicon glyphicon-calendar"> </i> End Date</th>
                            </tr>
                            @foreach (Schedule schedule in job.Schedules)
                            {
                                <tr style="border-bottom: 1px solid #ddd">
                                    <td style="width:20%">
                                        @*@schedule.Person.UserName Displaying username for now, perhaps delete this line later.*@
                                        @schedule.Person.FName @schedule.Person.LName @*Need to add First and Last names to seed data.*@
                                    </td>
                                    <td style="width:20%">
                                        @schedule.Person.WorkType.GetDescription() @*GetDescription method grabs the decorator statement*@
                                    </td>
                                    <td style="width:20%">
                                        @*Only Display Phone # for Foreman*@
                                        @if (schedule.Person.WorkType == WorkType.Foreman)
                                        {
                                            <i class="glyphicon glyphicon-phone-alt"> </i> @schedule.Person.PhoneNumber
                                        }
                                    </td>
                                    <td style="width:20%">
                                        @*making change for dateTime display*@
                                        @*@schedule.StartDate.ToString("dd/MM/yy")*@
                                        @schedule.StartDate.ToString("MM-dd-yyyy")@*//Modified the order month-day-year from previous for a uniform view for all views*@
                                    </td>
                                    <td style="width:20%">
                                        @*Enddate is Nullable, check for value first*@
                                        @if (schedule.EndDate.HasValue)
                                        {
                                            //Modifying Date display for uniformity
                                            @*@Convert.ToDateTime(schedule.EndDate).ToString("dd/MM/yy")*@
                                            @Convert.ToDateTime(schedule.EndDate).ToString("MM-dd-yyyy")//Modified the order month-day-year from previous for a uniform view for all views
                                        }
                                    </td>
                                    @*Action Link to schedule provides a quick path to DETAILS for EMPLOYEE*@
                                    <td style="text-align:right">
                                        <a href="@Url.Action("Details", "Schedules", new { id = schedule.ScheduleId }, null)">
                                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        }
    }
</div>

