@using ConstructionNew.Enums
@using ConstructionNew.Extensions
@model IEnumerable<ConstructionNew.Models.Job>

@{
    ViewBag.Title = "Index";
    var t = TempData["shortMessage"];
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftTimes)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.JobNumber != null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobNumber)

                </td>
                <td>
                    @Html.DisplayFor(model => item.ShiftTimes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)

                </td>
                <td>
                    @(item.State.GetDescription())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
                    </td>
                }
                else
                {
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.JobId })

                    </td>
                }


            </tr>
        }
    }


</table>
<p>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</p>

@if (t != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewData["shortMessage"] This job has people scheduled on it, therefore it cannot be deleted.")
        };

    </script>
}