@model IEnumerable<ConstructionNew.Models.CreateUserRequest>

@{
    ViewBag.Title = "AllUsers";
}

<h2>All Users</h2>
<p style="text-align:right">
    <span>
        @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
    </span>
</p>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h2 class="panel-title">
            Registered User List            
        </h2>         
    </div>
    <div id="collapseUserList" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            @Html.Action("_UserListPartial", "Account")
        </div>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingTwo">
		<h2 class="panel-title">
			Suspended User List
		</h2>
	</div>
	<div id="collapseUserList" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
		<div class="panel-body">
			@Html.Action("_SuspendedUserPartial", "Account")
		</div>
	</div>
</div>



<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">

        <h2 class="panel-title">
            Unregistered User List
        </h2>
    </div>

    <div id="collapseUserList" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ConfirmationCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserRoles)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConfirmationCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserRoles)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id=item.UserCreationRequestId }) |
                                @Html.ActionLink("Details", "Details", new { id=item.UserCreationRequestId }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserCreationRequestId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
