@model ConstructionNew.Models.CreateUserRequest

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>

<div>
    <h4>Current Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserCreationRequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
