@model IEnumerable<ConstructionNew.Models.CompanyNews>

@{
    ViewBag.Title = "Index";
}

<h2>Erectors Inc News</h2>

<p>
    @Html.ActionLink("Add News Item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsItem)

            </td>
            @if (item.ExpirationDate != null)
            {
            <td>
                @item.ExpirationDate.Value.ToString("MM-dd-yyyy")
            </td>
            }
            else
            {
                <td>

                </td>
            }
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DateStamp }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DateStamp }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DateStamp })
                </td>
            }
            else
            {
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.DateStamp })
                </td>
            }

        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</div>







