@using System.Web.UI.WebControls
@using ConstructionNew.Models
@using ConstructionNew.Enums
@using ConstructionNew.Extensions
@using System.Collections.Generic


@{
    ViewBag.Title = "DefaultShiftTime";
}


@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Shift Times Default", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.Editor("ShiftTimeDefault", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })

        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default" name="Modify" id="ShowModify">Modify Shift Times </button>
        </div>

    </div>

    @*Modifyshifttimepartialview only appers when the button  modify shift times  clicked*@
    <div style="display:none;" class="form-group" id="Modify">
        <div class="form-group">
            @Html.Label("      ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("SelectWeekDay1", ((ConstructionNew.Controllers.JobsController)this.ViewContext.Controller).WeekDays(), "-Select Day-", new { @class = "form-control", type = "day", style = "height:40px; width:195px;" })
            </div>
            <div class="col-md-2">
                @Html.Editor("SelectShiftTime1", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("      ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("SelectWeekDay2", ((ConstructionNew.Controllers.JobsController)this.ViewContext.Controller).WeekDays(), "-Select Day-", new { @class = "form-control", type = "day", style = "height:40px; width:195px;" })
            </div>
            <div class="col-md-2">
                @Html.Editor("SelectShiftTime2", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("      ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("SelectWeekDay3", ((ConstructionNew.Controllers.JobsController)this.ViewContext.Controller).WeekDays(), "-Select Day-", new { @class = "form-control", type = "day", style = "height:40px; width:195px;" })
            </div>
            <div class="col-md-2">
                @Html.Editor("SelectShiftTime3", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("      ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("SelectWeekDay4", ((ConstructionNew.Controllers.JobsController)this.ViewContext.Controller).WeekDays(), "-Select Day-", new { @class = "form-control", type = "day", style = "height:40px; width:195px;" })
            </div>
            <div class="col-md-2">
                @Html.Editor("SelectShiftTime4", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("      ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("SelectWeekDay5", ((ConstructionNew.Controllers.JobsController)this.ViewContext.Controller).WeekDays(), "-Select Day-", new { @class = "form-control", type = "day", style = "height:40px; width:195px;" })
            </div>
            <div class="col-md-2">
                @Html.Editor("SelectShiftTime5", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })

            </div>
        </div>
    </div>
}


