@model IEnumerable<ConstructionNew.Models.CompanyNews>

@{

    ViewBag.Title = "Company News";
}

@using (Html.BeginForm("Create", "CompanyNews", FormMethod.Post))

{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">

            <div class="form-group">
                <div class="col-md-12 col-lg-12 text-left message" style="color:red; font-weight:600;" id="message"></div>
            </div>
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        if (item.ExpirationDate.GetValueOrDefault(DateTime.Now).Ticks >= DateTime.Now.Ticks)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption sub-header">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    </div>
                    <div>
                        <h4>@Html.DisplayFor(modelItem => item.NewsItem)</h4>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DateStamp }, "CompanyNews") |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DateStamp }, "CompanyNews") |
                            @Html.ActionLink("Details", "Details", new { id = item.DateStamp }, "CompanyNews") |

                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>


