@model ConstructionNew.Models.Job


@{
    ViewBag.Title = "Edit";
}

<h2>Jobs</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Edit Job Description</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.ShiftTimes.ShiftTimeId)

    <div class="form-group">
        @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Default", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Default, new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Default, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Monday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Monday, "dayMon", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Monday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Tuesday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Tuesday, "dayTue", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Tuesday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Wednesday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Wednesday, "dayWed", new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Wednesday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Thursday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Thursday, new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Thursday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Friday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Friday, new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Friday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Saturday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Saturday, new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Saturday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Shift Times Sunday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.ShiftTimes.Sunday, new { htmlAttributes = new { @class = "form-control timepicker", type = "time", style = "height:40px; width:195px;" } })
            @Html.ValidationMessageFor(model => model.ShiftTimes.Sunday, "", new { @class = "text-danger" })
        </div>
    </div>

    <h5 class="text-danger">@ViewBag.ErrorMessage</h5>

    <div class="form-group">
        @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.State, "Select")
            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            //Script to upload ModifyShiftTimePartialView
            $('#ShowModify').click(function () {
                $('#Modify').show();
            });
        </script>
    }
