@model ConstructionNew.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Schedules</h2>

<div>
    <h4>Schedule Details:</h4>
    <hr />
    <dl class="dl-horizontal">
        @*Modifying table and data to adjust schedule views*@
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.UserName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.StartDate)*@ @*This was the original code.  Made modification to StartDate display for uniformity.*@
            @{
                string parameterValueA = Model.StartDate.ToString("MM-dd-yyyy");
            }
            @Html.DisplayFor(Model => parameterValueA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.EndDate)*@ @*This was the original code.  Made modification to StartDate display for uniformity.*@

            @if (Model.EndDate.HasValue)
            {
                @Convert.ToDateTime(Model.EndDate).ToString("MM-dd-yyyy")
            }
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleId }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
    </p>

}
