@using ConstructionNew.Models

@{
    ViewBag.Title = "ERECTORS, INC.";
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div class="row ">
        <div class="panel-group top-buffer col-lg-9 " id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default ">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h2 class="panel-title">
                        Schedule
                        @if (User.IsInRole("Admin"))
                        {

                            @Html.ActionLink("Create New", "Create", "Schedules", null, new { @class = "createNew" })

                        }
                    </h2>

                </div>
                <div id="collapseSchedule" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body overflow-auto">
                        @{ Html.RenderAction("MasterSchedulePartial"); }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h2 class="panel-title">
                        Company News

                        @if (User.IsInRole("Admin"))
                        {
                            // calls create company news partial view modal
                            @Html.ActionLink("Create New", "CompanyNewsModal", null, new { @class = "createNew", data_target = "#myModal", data_toggle = "modal" })
                        }
                    </h2>
                </div>
                <div id="collapseCompanyNews" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        @Html.Action("_CompanyNews", "CompanyNews")
                    </div>
                </div>
            </div>
			<div class=" panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h2 class="panel-title">
						User List
						@if (User.IsInRole("Admin"))
						{
							@Html.ActionLink("Create New", "Create", "CreateUserRequests", null, new { @class = "createNew" })//update with add user function
						}
					</h2>

				</div>
                <div id="collapseUserList" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                    <h4 class="panel-heading">
                        Active Users
                    </h4>
                    <div class="panel-body table-style">
                        @Html.Action("_UserListPartial", "Account")
                    </div>
                </div>
				<div id="collapseUserList" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">          
                    <h4 class="panel-heading">
                        Suspended Users
                    </h4>
                    <div class="panel-body table-style suspended-style">                      
                       @Html.Action("_SuspendedUserPartial", "Account")
                    </div>
				</div>
			</div>
        </div>
    </div>
    <!--Welcome modal-->
    <div id="myModal1" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">

                    <h3 class="modal-title header-spacing">Welcome Administrators!</h3>
                </div>
                <div class="modal-body text-center">
                    Create schedules, company news and manage users.
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
                            
    <!--Create Company New Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="color:#FFF; font-weight:600" id="myModalLabel">Create Company News</h4>
                </div>
            </div>
        </div>
    </div>

}
@if (User.IsInRole("Employee"))
{
    <div class="row ">
        <div class="panel-group top-buffer col-lg-9 " id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default ">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h2 class="panel-title">
                        Schedule
                    </h2>
                </div>
                <div id="collapseSchedule" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body overflow-auto">
                        @{ Html.RenderAction("EmployeeSchedulePartial"); }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h2 class="panel-title">
                        Company News
                    </h2>
                </div>
                <div id="collapseCompanyNews" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        @Html.Partial("_CompanyNews", new ApplicationDbContext().CompanyNews.AsEnumerable(), new ViewDataDictionary { { "UserList", ViewBag.UserList } })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal1" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blue-header text-center">

                    <h3 class="modal-title header-spacing">Welcome to the Employee Portal!</h3>
                </div>
                <div class="modal-body text-center">
                    Get your schedule, see company news, and chat with your colleagues.
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

