@model ConstructionNew.Models.CompanyNews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Erectors Inc News</h4>
    <hr />

    @*@if (Model != null)
        {*@
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NewsItem)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => Model.ExpirationDate)*@
                @Convert.ToDateTime(Model.ExpirationDate).ToString("MM/dd/yyyy")
            </td>
        </tr>


    </table>
    @*}*@
    @*else
        {
            <div style="font-family:Arial; width: 300px">
                No record found!
            </div>
        }*@



</div>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NewsItem }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
    </p>
}
