@model ConstructionNew.Models.CompanyNews
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "CompanyNews", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <form id="class_Form">

        <!-- Button trigger modal -->
        <br />
        <button type="button" class="btn btn-primary btn-lg" style="color:#FFF; font-weight:600" data-toggle="modal" data-target="#myModal">
            Create Company News
        </button>

        <!-- Modal -->

        <div class="form-group  modal-news">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label-lg" })
            <br />
            @Html.TextBoxFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
            @Html.ValidationMessageFor(model => model.NewsItem, "", new { @class = "text-danger" })
        </div>
        <div class="form-group  modal-news">
            @Html.LabelFor(model => model.NewsItem, htmlAttributes: new { @class = "control-label" })
            <br />
            @Html.TextAreaFor(model => model.NewsItem, new { htmlAttributes = new { @class = "form-control", @placeholder = "News" } })
            @Html.ValidationMessageFor(model => model.NewsItem, "", new { @class = "text-danger" })
        </div>
        <div class="form-group modal-news">
            @Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "date" })
            <br />
            @Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "datepicker", type = "date" } })
            @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
        </div>

    </form>
}

