@model ConstructionNew.Models.IndexViewModel

@{
    ViewBag.Title = "ChangeName";
}

<h2>Change Name</h2>

@using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Name Form</h4>
    <hr />
    <div>
        <h4>
            @Model.FName @Model.LName
        </h4>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="">
        First Name:
        <div class="">
            @Html.TextBoxFor(m => m.FName, new { @class = "form-control" })
        </div>
    </div>
    <div class="">
        Last Name:
        <div class="">
            @Html.TextBoxFor(m => m.LName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Name" class="btn btn-default" />
        </div>
    </div>

}